<a href="https://colab.research.google.com/github/Sarmingsteiner/ml_graz_final_project/blob/master/Copy_of_1_nh_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Libraries

In [0]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

# Load Data

In [0]:
!wget https://github.com/Sarmingsteiner/ml_graz_final_project/blob/master/data/raw/bank-additional-full.csv

--2020-05-31 23:15:02--  https://github.com/Sarmingsteiner/ml_graz_final_project/blob/master/data/raw/bank-additional-full.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘bank-additional-full.csv.3’

bank-additional-ful     [ <=>                ]  67.56K  --.-KB/s    in 0.02s

2020-05-31 23:15:02 (3.77 MB/s) - ‘bank-additional-full.csv.3’ saved [69186]

In [0]:
df = pd.read_csv("bank-additional-full.csv.3", sep=";")

ParserError: ignored

In [0]:
pd.read_csv("bank-additional-full.csv", sep=";")

ParserError: ignored

In [0]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Rename Columns for Convenience

In [0]:
df.columns = [x.replace(' ', '_') for x in df.columns]

In [0]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Check Missing Values

In [0]:
df.isna().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [0]:
df.to_csv("../data/clean/clean.csv", index=False)